$primary: #61B82E
//$primary: #e92a49
$secondary: #2e272f
//$secondary: linear-gradient(to top, #2B252C 0%, #352D36 100%)
$secondary: #2e272f
$third: #dad9da
$fourth: #727176

$desc: 1200
$tab: 1024
$mob: 767
$smallMob: 400
@keyframes pulse
	from
		transform: none
	50%
		transform: scale(1.05)
	to
		transform: none

=flex($vert:space-between, $hor:stretch)
	display: flex
	justify-content: $vert
	align-items: $hor
	flex-wrap: wrap


a
	text-decoration: none
	color: inherit
	&:active
		transform: scale(.95)

*
	transition: .5s
	&::selection
		background: $primary
		color: white
.inner
	width: 1200px
	margin: 0 auto
	position: relative
	padding: 0 10px
	//height: inherit
	+r($desc)
		width: auto

.btn
	text-transform: uppercase
	background: $primary
	color: white
	padding: 8px 20px
	font-weight: bold
	text-align: center
	border-radius: 3px
	font-size: 16px
	&_color
		background: $secondary
	&:hover
		background: white
		color: $secondary


.nav
	background: $secondary
	padding: 0 50px 0 20px
	border-top: 6px solid $primary
	+flex(space-between, center)
	position: relative
	user-select: none
	+r($tab)
		padding: 0 30px 0 15px
	+r($mob)
		position: fixed
		top: 0
		left: 0
		width: 100%
		padding: 0 15px 0 10px
		z-index: 100
	img
		max-width: 100%
		width: 100px
		height: auto
		+r($mob)
			width: 70px
	ul.header__nav
		font-size: 0
		+r($mob)
			display: none
			position: absolute
			top: 70px
			left: 0
			background: $secondary
			width: 100%
			text-align: center
			border-bottom: 6px solid $primary
		&.is-visible
			display: block
	li
		display: inline-block
		margin: 0 15px

		+r($tab)
			margin: 0 10px
		+r($mob)
			display: block
			margin: 10px 0
	a
		color: #8a838b
		font-size: 20px
		font-weight: bold
		+r($tab)
			font-size: 18px
		&:hover
			color: white

.header
	background: url('../img/header-bg.jpg') center top no-repeat
	//position: relative
	height: 330px
	padding-top: 60px
	&_mainpage
		height: 755px
		padding: 0
		+r($mob)
			height: auto
			padding-bottom: 40px
	& .inner
		height: inherit
	p
		font-size: 15px
		margin-bottom: 15px
		color: white
		+r($mob)
			font-size: 14px
		&:last-of-type
			margin-bottom: 0

	&__box
		position: absolute
		right: 0
		bottom: 0
		//+clr
		font-size: 0
		+r($mob)
			position: static
			text-align: center

	&__about, &__gal
		width: 300px
		background: $primary
		padding: 56px 56px 42px 46px
		display: inline-block
		+r($mob)
			padding: 30px 30px 20px 30px
			width: 100%
		h2, h3
			color: white
			text-transform: uppercase
			padding-bottom: 25px
			border-bottom: 1px solid white
			font-size: 36px
			margin-bottom: 25px
			font-weight: normal
			+r($mob)
				font-size: 30px
				padding-bottom: 15px
				margin-bottom: 15px
		a
			display: inline-block
		p:last-of-type
			margin-bottom: 40px
	&__gal
		width: 370px
		background: $secondary
		a
			background: $primary

	&__logo
		position: absolute
		right: 0
		top: 0
		display: inline-block
		animation: pulse 2s infinite forwards linear
		+r($mob)
			position: static
			margin: 0 auto
			display: block
			text-align: center
		img
			+r($mob)
				width: 150px
				height: 164px
		h1
			opacity: 0
			font-size: 1px
			color: transparent

	&__nav
		&.is-visible
			display: block

	&__burger
		width: 40px
		height: 40px
		position: absolute
		right: 10px
		top: 20px
		display: none
		+r($mob)
			display: block
		span
			display: block
			height: 4px
			background: white
			margin-top: 7px
.content
	p
		color: $fourth
		font-size: 16px
		margin-bottom: 15px
		+r($tab)
			font-size: 15px
		+r($mob)
			font-size: 14px
			text-align: center
		&:last-of-type
			margin-bottom: 0
	h2,h3
		font-size: 21px
		margin-bottom: 25px
		color: white
		+r($mob)
			font-size: 18px
			margin-bottom: 15px
			text-align: center
	.block
		padding: 60px 0
		background: $secondary
		position: relative
		+r($tab)
			padding: 50px 0
		+r($mob)
			padding: 20px 0 40px 0
		&:before
			display: block
			content: ""
			width: 1170px
			height: 309px
			background: url(../img/splash.png) center center no-repeat
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			+r($desc)
				width: 100%

		&_light
			background: $third
			h2,h3
				color: $secondary
		&_has-aside
			.inner
				+clr
		&__content
			width: 850px
			float: left
			+clr
			+r($desc)
				width: 100%
				float: none
		&__aside
			width: 300px
			float: right
			height: 100%
			padding: 0 0 0 15px
			+r($desc)
				display: none

	ul
		margin-bottom: 25px
	li
		font-size: 16px
		padding-bottom: 10px
		border-bottom: 1px solid rgba($fourth, .2)
		margin-bottom: 10px
		color: $fourth
		position: relative
		padding-left: 25px
		&:last-of-type
			border-bottom: none
		&:before
			display: block
			content: ''
			position: absolute
			left: 0
			top: 5px
			background: url('../img/arr-right.svg')
			width: 15px
			height: 15px
			background-size: cover
//+s(arr-right)


.links
	+flex(space-around)
	&__item
		text-align: center
		max-width: 270px
		+r($mob)
			margin-bottom: 15px
		div
			margin: 0 auto
		strong
			color: white
			margin: 3px 0 14px 0
			font-size: 18px
			text-transform: uppercase
			display: block
		.btn
			display: inline-block
			margin-top: 20px
	&__masc
		+s(masc)
	&__curtains
		+s(curtains)
	&__paper
		+s(paper)

.intro
	background: $third
	.inner
		padding: 20px 10px
		+clr
	&__img
		background: url("../img/hat.jpg")
		width: 267px
		height: 411px
		float: left
		margin-right: 30px
		+r($mob)
			float: none
			margin: 0 auto
			width: 150px
			height: 231px
			background-size: cover
			display: block
	&__text-wrap
		margin-top: 30px
		//outline: 1px solid red
		+r($mob)
			margin-top: 10px
			text-align: center
		h3
			font-size: 30px
			color: $fourth
			+r($tab)
				font-size: 25px
			+r($mob)
				font-size: 22px
				margin-bottom: 0
			span
				font-size: 55px
				color: $primary
				+r($tab)
					font-size: 50px
				+r($mob)
					font-size: 40px
		strong
			color: black
			font-size: 36px
			display: block
			margin-bottom: 30px
			+r($tab)
				font-size: 33px
			+r($mob)
				font-size: 30px
				margin-bottom: 10px

.footer
	background: $secondary
	.inner
		padding: 50px 10px 80px 10px
		+flex(space-between)
		+r($tab)
			justify-content: center
		+r($mob)
			display: block
			text-align: center
			padding-top: 30px
	p
		color: $fourth
		font-size: 15px
		text-transform: uppercase
		font-weight: bold
		margin-bottom: 5px
		padding-left: 70px
		position: relative
		+r($mob)
			font-size: 14px
			padding-left: 0
		&:first-of-type
			+r($mob)
				padding-top: 50px
			&:before
				display: block
				content: ''
				width: 40px
				height: 40px
				background: url("../img/home.svg")
				background-size: cover
				position: absolute
				left: 0
				top: 0
				+r($mob)
					top: 5px
					left: 50%
					transform: translateX(-50%)

	&__address
		+r($tab)
			margin: 0 20px
		+r($mob)
			display: inline-block
			margin: 0
	&__mail
		border-right: 1px solid $fourth
		border-left: 1px solid $fourth
		padding: 0 50px
		+r($desc)
			padding: 0 30px
		+r($tab)
			margin: 0 20px
			border: none
		+r($mob)
			padding: 20px 0
			margin: 30px 0
			border-top: 1px solid $fourth
			border-bottom: 1px solid $fourth

		a
			color: $fourth
			font-size: 15px
			text-transform: uppercase
			display: inline-block
			vertical-align: middle
			font-weight: bold
			+r($mob)
				padding-top: 50px
				position: relative
			&:before
				display: inline-block
				content: ''
				width: 37px
				height: 37px
				background: url("../img/mail.svg")
				background-size: cover
				margin-right: 10px
				vertical-align: middle
				+r($mob)
					position: absolute
					top: 5px
					left: 50%
					transform: translateX(-50%)


	&__copy
		+r($tab)
			margin-top: 30px

		p:first-of-type:before
			background: url("../img/mask.svg")
			width: 50px
			height: 50px
			background-size: cover
			+r($mob)
				top: -5px
	&__to-top
		position: absolute
		width: 60px
		height: 55px
		background: $primary
		left: 50%
		bottom: 0
		margin-left: -30px
		padding-top: 15px
		cursor: pointer
		+r($mob)
			width: 55px
			height: 50px
		span
			display: block
			+s(to-top)
			margin: 0 auto


.intro-line
	padding: 21px 0
	background: $primary
	h1
		color: white
		font-weight: bold
		font-size: 40px
		text-transform: uppercase
		+r($tab)
			font-size: 38px
		+r($mob)
			font-size: 35px

.who
	img
		margin-right: 20px
		float: left
		margin-bottom: 20px
		+r($mob)
			float: none
			//margin: 0 0 20px 0
			margin: 0 auto 20px auto
			display: block
		&:nth-last-of-type(odd)
			float: right
			margin-left: 20px
			margin-right: 0
			+r($mob)
				float: none
				margin: 0 auto 20px auto
	p
		+r($mob)
			text-align: center

.why
	+flex(space-between)
	+r($desc)
		justify-content: space-around
	&__item
		padding: 25px 40px
		background: $secondary
		//width: 30%
		margin-bottom: 30px
		width: 350px
		+r($mob)
			width: 100%
			padding: 20px
		span
			color: white
			font-size: 21px
			position: relative
			padding-left: 60px
			display: inline-block
			margin-bottom: 25px
			i
				position: absolute
				width: 45px
				height: 45px
				background-size: cover
				left: 0
				top: 0
				display: inline-block
		p
			+r($mob)
				text-align: left
	&__item-actors
		background: url("../img/actor.svg")
	&__item-costume
		background: url("../img/costume.svg")
	&__item-show
		background: url("../img/shows.svg")
	&__item-money
		background: url("../img/money-save.svg")
	&__item-satisfy
		background: url("../img/satisfy.svg")

.photo, .video
	+flex(space-between, center)
	margin-top: 20px
	&:after
		display: none !important
	iframe
		margin-bottom: 20px
		width: 49%
		height: 400px
		+r($tab)
			width: 600px
			margin: 0 auto 20px auto
		+r($mob)
			width: 100%
			height: 350px
		+r($smallMob)
			height: 300px

.photo
	&__img
		width: 32%
		height: auto
		display: block
		margin-bottom: 20px
		cursor: pointer

		+r($mob)
			width: 49%
		+r($smallMob)
			width: 100%
			margin-bottom: 10px

	&__overlay
		position: fixed
		width: 100%
		left: 0
		top: 0
		right: 0
		bottom: 0
		background: rgba(black, .8)
		z-index: 10
		display: none
		&.is-visible
			display: block
	&__slider-wrap
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		border: 2px solid white
		img
			display: block
			margin: 0 auto
			width: auto
			max-width: 900px
			height: auto
	&__slider-close
		position: absolute
		top: -40px
		right: -40px
		background: url("../img/cancel.svg")
		width: 30px
		height: 30px
		background-size: cover
	&__slider-left, &__slider-right
		width: 40px
		height: 40px
		background: url("../img/slider-arr.svg")
		position: absolute
		top: 50%
		right: - 50px
		margin-top: -20px
		background-size: cover
	&__slider-left
		transform: scale(-1)
		right: 0
		left: -50px

.rep
	.block__content
		float: right
	.block__aside
		float: left
		padding: 0 15px 0 0
		+r($desc)
			display: block
		+r($mob)
			display: none
		ul
			margin-left: 20px
			display: none
			&.is-visible
				display: block
		li
			cursor: pointer
			&:hover
				color: white
				font-weight: bold
			&.is-active
				color: $primary
				font-weight: bold
				//border-bottom-color: $primary

	h2
		cursor: pointer
		font-size: 18px
		span
			width: 15px
			height: 15px
			background: url("../img/arr-down.svg")
			display: inline-block
			background-size: cover
			margin-left: 5px
			vertical-align: middle
			transition: none
			&.is-active
				transform: rotate(-180deg)
	article
		display: none
		+clr
		+r($mob)
			display: block
		&.is-visible
			display: block

		h4
			color: white
			text-align: right
			font-size: 20px
			text-decoration: underline
			margin-bottom: 20px
			&.is-active
				color: $primary
			+r($mob)
				text-align: center
				font-size: 18px
				color: $third
				text-decoration: none

		div
			+clr
			+r($mob)
				display: none
			&.is-visible
				display: block
				margin-bottom: 20px
		img
			float: left
			width: 60%
			margin: 0 15px 15px 0
			+r($desc)
				margin: 15px auto
				float: none
				display: block

.services
	&__item
		margin-top: 20px
		+r($mob)
			margin-top: 30px
		+clr
		img
			float: left
			margin: 0 20px 20px 0
			display: block
			max-width: 100%
			height: auto
			+r($mob)
				float: none
				margin: 0 auto 15px auto
		h3
			+r($mob)
				text-align: center
				margin-bottom: 15px
		p
			+r($mob)
				text-align: center
		&:nth-of-type(even)
			img
				float: right
				margin: 0 0 20px 20px
				+r($mob)
					float: none
					margin: 0 auto 15px auto

.actual
	b
		text-decoration: underline
		font-size: 16px
		margin-bottom: 15px
		display: block
		color: white

.congrats
	+clr
	iframe
		float: left
		margin: 0 40px 20px 0
		width: 49%
		height: 400px
		+r($tab)
			float: none
			margin: 20px auto
			display: block
			width: 70%
		+r($mob)
			width: 100%
			height: 300px
		+r($smallMob)
			width: 100%
			height: 300px

#map
	width: 100%
	height: 400px
	margin-bottom: 30px
	+r($mob)
		height: 300px
		margin-bottom: 20px

.contacts
	margin-bottom: 80px
	+r($mob)
		margin-bottom: 50px
	&__box
		+flex
	&__info
		width: 300px
		+r($mob)
			width: 100%
			margin-bottom: 30px
	form
		font-size: 0
		width: 67%
		+r($tab)
			width: 57%
		+r($mob)
			width: 100%
			text-align: center
		input[type="text"], input[type="number"], textarea
			width: 50%
			display: inline-block
			padding: 5px 15px
			margin-bottom: 20px
			transition: none
			font-size: 16px
			background: $third
			border: 2px solid black
			&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
				-webkit-appearance: none
			&:focus
				outline: 2px solid $primary
			+r($mob)
				width: 100%
				margin-bottom: 15px
		textarea
			width: 100%
			resize: none
			height: 200px
			+r($mob)
				height: 150px