@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input[type="submit"], button { cursor: pointer; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sepa:before { content: ""; }

.icon-skrill:before { content: ""; }

body { font-family: "Open Sans", sans-serif; font-size: 12px; line-height: 1.4; }

@-webkit-keyframes pulse { from { -webkit-transform: none; transform: none; }
  50% { -webkit-transform: scale(1.05); transform: scale(1.05); }
  to { -webkit-transform: none; transform: none; } }

@keyframes pulse { from { -webkit-transform: none; transform: none; }
  50% { -webkit-transform: scale(1.05); transform: scale(1.05); }
  to { -webkit-transform: none; transform: none; } }
a { text-decoration: none; color: inherit; }
a:active { -webkit-transform: scale(0.95); -ms-transform: scale(0.95); transform: scale(0.95); }

* { -webkit-transition: 0.5s; transition: 0.5s; }
*::-moz-selection { background: #61B82E; color: white; }
*::selection { background: #61B82E; color: white; }

.inner { width: 1200px; margin: 0 auto; position: relative; padding: 0 10px; }

.btn { text-transform: uppercase; background: #61B82E; color: white; padding: 8px 20px; font-weight: bold; text-align: center; border-radius: 3px; font-size: 16px; }
.btn_color { background: #2e272f; }
.btn:hover { background: white; color: #2e272f; }

.nav { background: #2e272f; padding: 0 50px 0 20px; border-top: 6px solid #61B82E; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.nav img { max-width: 100%; width: 100px; height: auto; }
.nav ul { font-size: 0; }
.nav li { display: inline-block; margin: 0 15px; }
.nav a { color: #8a838b; font-size: 20px; font-weight: bold; }
.nav a:hover { color: white; }

.header { background: url("../img/header-bg.jpg") center top no-repeat; height: 330px; padding-top: 60px; }
.header_mainpage { height: 755px; padding: 0; }
.header .inner { height: inherit; }
.header p { font-size: 15px; margin-bottom: 15px; color: white; }
.header p:last-of-type { margin-bottom: 0; }
.header__box { position: absolute; right: 0; bottom: 0; font-size: 0; }
.header__about, .header__gal { width: 300px; background: #61B82E; padding: 56px 56px 42px 46px; display: inline-block; }
.header__about h2, .header__about h3, .header__gal h2, .header__gal h3 { color: white; text-transform: uppercase; padding-bottom: 25px; border-bottom: 1px solid white; font-size: 36px; margin-bottom: 25px; font-weight: normal; }
.header__about a, .header__gal a { display: inline-block; }
.header__about p:last-of-type, .header__gal p:last-of-type { margin-bottom: 40px; }
.header__gal { width: 370px; background: #2e272f; }
.header__gal a { background: #61B82E; }
.header__logo { position: absolute; right: 0; top: 0; display: inline-block; -webkit-animation: pulse 2s infinite forwards linear; animation: pulse 2s infinite forwards linear; }
.header__logo h1 { opacity: 0; font-size: 1px; color: transparent; }
.header__nav.is-visible { display: block; }
.header__burger { width: 40px; height: 40px; position: absolute; left: 10px; top: 15px; display: none; }
.header__burger span { display: block; height: 4px; background: white; margin-top: 7px; }

.content p { color: #727176; font-size: 16px; margin-bottom: 15px; }
.content p:last-of-type { margin-bottom: 0; }
.content h2, .content h3 { font-size: 21px; margin-bottom: 25px; color: white; }
.content .block { padding: 60px 0; background: #2e272f; }
.content .block_light { background: #dad9da; }
.content .block_light h2, .content .block_light h3 { color: #2e272f; }
.content .block_has-aside .inner { *zoom: 1; }
.content .block_has-aside .inner:after { content: " "; display: table; clear: both; }
.content .block__content { width: 850px; float: left; *zoom: 1; }
.content .block__content:after { content: " "; display: table; clear: both; }
.content .block__aside { width: 300px; float: right; height: 100%; padding: 0 0 0 15px; }
.content ul { margin-bottom: 25px; }
.content li { font-size: 16px; padding-bottom: 10px; border-bottom: 1px solid rgba(114, 113, 118, 0.2); margin-bottom: 10px; color: #727176; position: relative; padding-left: 25px; }
.content li:last-of-type { border-bottom: none; }
.content li:before { display: block; content: ""; position: absolute; left: 0; top: 5px; background: url("../img/arr-right.svg"); width: 15px; height: 15px; background-size: cover; }

.links { background: -webkit-gradient(linear, left bottom, left top, from(#2B252C), to(#352D36)); background: -webkit-linear-gradient(bottom, #2B252C 0%, #352D36 100%); background: linear-gradient(to top, #2B252C 0%, #352D36 100%); }
.links .inner { padding: 60px 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; z-index: 1; }
.links .inner:before { display: block; content: ""; width: 1170px; margin: 0 auto; height: 309px; background: url("../img/splash.png") center center no-repeat; position: absolute; top: 0; z-index: -1; }
.links__item { text-align: center; max-width: 270px; }
.links__item div { margin: 0 auto; }
.links__item strong { color: white; margin: 3px 0 14px 0; font-size: 18px; text-transform: uppercase; display: block; }
.links__item .btn { display: inline-block; margin-top: 20px; }
.links__masc { background-image: url("../img/icons.png"); width: 133px; height: 132px; background-position: 0px -137px; }
.links__curtains { background-image: url("../img/icons.png"); width: 133px; height: 133px; background-position: 0px 0px; }
.links__paper { background-image: url("../img/icons.png"); width: 133px; height: 133px; background-position: -137px 0px; }

.intro { background: #dad9da; }
.intro .inner { padding: 20px 10px; *zoom: 1; }
.intro .inner:after { content: " "; display: table; clear: both; }
.intro__img { background: url("../img/hat.jpg"); width: 267px; height: 411px; float: left; margin-right: 30px; }
.intro__text-wrap { margin-top: 30px; }
.intro__text-wrap h3 { font-size: 30px; color: #727176; }
.intro__text-wrap h3 span { font-size: 55px; color: #61B82E; }
.intro__text-wrap strong { color: black; font-size: 36px; display: block; margin-bottom: 30px; }

.footer { background: #2e272f; }
.footer .inner { padding: 50px 10px 80px 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.footer p { color: #727176; font-size: 15px; text-transform: uppercase; font-weight: bold; margin-bottom: 5px; padding-left: 70px; position: relative; }
.footer p:first-of-type:before { display: block; content: ""; width: 40px; height: 40px; background: url("../img/home.svg"); background-size: cover; position: absolute; left: 0; top: 0; }
.footer__mail { border-right: 1px solid #727176; border-left: 1px solid #727176; padding: 0 50px; }
.footer__mail a { color: #727176; font-size: 15px; text-transform: uppercase; display: inline-block; vertical-align: middle; font-weight: bold; }
.footer__mail a:before { display: inline-block; content: ""; width: 37px; height: 37px; background: url("../img/mail.svg"); background-size: cover; margin-right: 10px; vertical-align: middle; }
.footer__copy p:first-of-type:before { background: url("../img/mask.svg"); width: 50px; height: 50px; background-size: cover; }
.footer__to-top { position: absolute; width: 60px; height: 55px; background: #61B82E; left: 50%; bottom: 0; margin-left: -30px; padding-top: 15px; }
.footer__to-top span { display: block; background-image: url("../img/icons.png"); width: 31px; height: 19px; background-position: -219px -184px; margin: 0 auto; }

.intro-line { height: 100px; line-height: 100px; background: #61B82E; }
.intro-line h1 { color: white; font-weight: bold; font-size: 40px; text-transform: uppercase; }

.who img { margin-right: 20px; float: left; margin-bottom: 20px; }
.who img:nth-last-of-type(odd) { float: right; margin-left: 20px; margin-right: 0; }

.why { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.why__item { padding: 25px 40px; background: #2e272f; width: 30%; margin-bottom: 30px; }
.why__item span { color: white; font-size: 21px; position: relative; padding-left: 60px; display: inline-block; margin-bottom: 25px; }
.why__item span i { position: absolute; width: 45px; height: 45px; background-size: cover; left: 0; top: 0; display: inline-block; }
.why__item-actors { background: url("../img/actor.svg"); }
.why__item-costume { background: url("../img/costume.svg"); }
.why__item-show { background: url("../img/shows.svg"); }
.why__item-money { background: url("../img/money-save.svg"); }
.why__item-satisfy { background: url("../img/satisfy.svg"); }

.photo, .video { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 20px; }
.photo img, .video img { width: 24%; height: auto; display: block; margin-bottom: 20px; cursor: pointer; }
.photo iframe, .video iframe { margin-bottom: 20px; }

.photo__overlay { position: fixed; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.8); z-index: 10; display: none; }
.photo__overlay.is-visible { display: block; }
.photo__overlay img { width: auto; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.rep .block__content { float: right; }
.rep .block__aside { float: left; padding: 0 15px 0 0; }
.rep .block__aside ul { margin-left: 20px; display: none; }
.rep .block__aside ul.is-visible { display: block; }
.rep .block__aside li { cursor: pointer; }
.rep .block__aside li:hover { color: white; font-weight: bold; }
.rep .block__aside li.is-active { color: #61B82E; font-weight: bold; }
.rep h2 { cursor: pointer; font-size: 18px; }
.rep h2 span { width: 15px; height: 15px; background: url("../img/arr-down.svg"); display: inline-block; background-size: cover; margin-left: 5px; vertical-align: middle; -webkit-transition: none; transition: none; }
.rep h2 span.is-active { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
.rep article { display: none; *zoom: 1; }
.rep article:after { content: " "; display: table; clear: both; }
.rep article.is-visible { display: block; }
.rep article h4 { color: white; text-align: right; font-size: 20px; text-decoration: underline; margin-bottom: 20px; }
.rep article img { float: right; width: 50%; margin: 0 0 15px 15px; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }
@media only screen and (max-width: 1200px){
 .inner{ width: auto; } }
@media only screen and (max-width: 767px){
 .header__burger{ display: block; } }



/*# sourceMappingURL=style.css.map */
