
//start footer
footer.footer
	.inner
		.footer__address
			p 03162, м. Київ, вул. Виборгзька 82
			p (044) 361-70-27
			p (095) 429-81-74
			p (095) 068-36-38
		.footer__mail
			a(href="mailto:" alt) info@testdomain.com
		.footer__copy
			p Київський театр "Вояж-Престиж"
			p &copy 2017
		a(href="#top").footer__to-top
			span

//end footer