header.header#top
	.inner
		.nav
			img(src="img/logo.png")
			ul
				li: a(href="index.html" alt) Головна
				li: a(href="about.html" alt) Про нас
				li: a(href="gallery.html" alt) Галерея
				li: a(href="repertory.html" alt) Репертуар
				li: a(href="services.html" alt) Послуги
				li: a(href="contacts.html" alt) Контакти

