//start header
header.header.header_mainpage#top

	.inner
		div.header__logo
			img(src="img/logo.png" alt="Театр 'Вояж-Престиж'")
			h1 Театр "Вояж-Престиж"
		.header__box
			article.header__about
				h2 Галерея
				p Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo.
				a(href="gallery.html" title="Детальніше").btn.btn_color Детальніше
			article.header__gal
				h2 Про нас
				p Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo. Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo. Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo.
				a(href="about.html" title="Детальніше").btn Детальніше

//end header