header.header#top
	.inner
		.nav
			img(src="img/logo.png")
			ul
				li: a(href="#" alt) Головна
				li: a(href="#" alt) Про нас
				li: a(href="#" alt) Галерея
				li: a(href="#" alt) Репертуар
				li: a(href="#" alt) Послуги
				li: a(href="#" alt) Контакти

