header.header#top
	.inner
		.nav
			.header__burger
				span
				span
				span
			img(src="img/logo.png" alt="Театр 'Вояж-Престиж'")
			ul.header__nav
				li: a(href="index.html" title="Головна") Головна
				li: a(href="about.html" title="Про нас") Про нас
				li: a(href="gallery.html" title="Галерея") Галерея
				li: a(href="repertory.html" title="Репертуар") Репертуар
				li: a(href="services.html" title="Послуги") Послуги
				li: a(href="contacts.html" title="Контакти") Контакти

