//start header
header.header.header_mainpage#top

	.inner
		div.header__logo
			img(src="img/logo.png" alt="Театр 'Вояж-Престиж'")
			h1 Театр "Вояж-Престиж"
		.header__box
			article.header__about
				h2 Галерея
				p Світлини та відео з наших вистав, концертів, розважальних заходів.
				a(href="gallery.html" title="Детальніше").btn.btn_color Детальніше
			article.header__gal
				h2 Про нас
				p Ось уже більш ніж 8 років приватнийвиїзний театр-студія „Вояж- Престиж” проводить свої вистави для різних вікових груп населення нашої країни, привносячи тим самим ту частинку культури в маси, яка так необхідна нам у ці не легкі часи...
				a(href="about.html" title="Детальніше").btn Детальніше

//end header