//start header
header.header.header_mainpage#top

	.inner
		a.header__logo(href="#" alt="")
			img(src="img/logo.png")
			h1 Театр "Вояж-Престиж"
		.header__box
			article.header__about
				h2 Галерея
				p Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo.
				a(href="gallery.html" alt="").btn.btn_color Детальніше
			article.header__gal
				h2 Про нас
				p Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo. Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo. Bytarsera masertas lirtydes nerafaes lasetypet aplicabo us ersvitae ertyasnemo.
				a(href="about.html" alt="").btn Детальніше



		.header__burger
			span
			span
			span
//end header