mixin introLine(text)
	section.intro-line
		.inner
			h1=text
mixin blockServices
	.b-services
		h3 Перелік послуг, які ми пропонуємо
		ul
			li Театралізовані постановки для дітей та дорослих (антрепризи для всієї родини);
			li Професійна театралізована підтримка будь-яких тематичних заходів;
			li Професіне звукове супроводження;
			li Виготовлення костюмів та декорацій для виїзних театрів;
			li Майстерня експериментальної режисури;
			li Народний театр.
		a(href="" alt).btn Детальніше



doctype html
html
	head
		meta(charset="utf-8")
		block title
			title by Re-z
		block head
			meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" media="all" href="css/style.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700" rel="stylesheet")


	body
		.out
			block content

		script(async src="js/app.js")

