mixin introLine(text)
	section.intro-line
		.inner
			h1=text
mixin blockServices
	.aside-services
		h3 Перелік послуг, які ми пропонуємо
		ul
			li Театралізовані постановки для дітей та дорослих (антрепризи для всієї родини);
			li Професійна театралізована підтримка будь-яких тематичних заходів;
			li Професіне звукове супроводження;
			li Виготовлення костюмів та декорацій для виїзних театрів;
			li Майстерня експериментальної режисури;
			li Народний театр.
		a(href="services.html" alt="Детальніше").btn Детальніше



doctype html
html
	head
		meta(charset="utf-8")
		block title
			title Театр "Вояж-Престиж"
		block head
			meta(name='keywords', content='')
			meta(name='description', content='')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" media="all" href="css/style.css")
		//link(rel='apple-touch-icon', sizes='57x57', href='img/fav/apple-icon-57x57.png')
		//link(rel='apple-touch-icon', sizes='60x60', href='img/fav/apple-icon-60x60.png')
		//link(rel='apple-touch-icon', sizes='72x72', href='img/fav/apple-icon-72x72.png')
		//link(rel='apple-touch-icon', sizes='76x76', href='img/fav/apple-icon-76x76.png')
		//link(rel='apple-touch-icon', sizes='114x114', href='img/fav/apple-icon-114x114.png')
		//link(rel='apple-touch-icon', sizes='120x120', href='img/fav/apple-icon-120x120.png')
		//link(rel='apple-touch-icon', sizes='144x144', href='img/fav/apple-icon-144x144.png')
		//link(rel='apple-touch-icon', sizes='152x152', href='img/fav/apple-icon-152x152.png')
		//link(rel='apple-touch-icon', sizes='180x180', href='img/fav/apple-icon-180x180.png')
		//link(rel='icon', type='image/png', sizes='192x192', href='img/fav/android-icon-192x192.png')
		//link(rel='icon', type='image/png', sizes='32x32', href='img/fav/favicon-32x32.png')
		//link(rel='icon', type='image/png', sizes='96x96', href='img/fav/favicon-96x96.png')
		//link(rel='icon', type='image/png', sizes='16x16', href='img/fav/favicon-16x16.png')
		link(rel="icon" type="image/png" href="img/fav/favicon.png")

	body
		.out
			block content

		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
		script(async src="js/app.js")

