extends _layout

block title
	title
block head
	meta(name="keywords" content="")

block content
	include _header


	main.content
		+introLine("Про нас")

		section.block.block_has-aside
			.inner
				h2 Хто ми
				.who.block__content
					img(src="http://www.placecage.com/300/200" title="Фото")
					h3 Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
					p Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem LoremLorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem LoremLorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
					img(src="http://www.placecage.com/300/200" title="Фото")
					p Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem LoremLorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem LoremLorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
				.block__aside
					+blockServices
		section.block.block_light
			.inner
				h2 Чому ми
				.why
					.why__item
						span #[i.why__item-actors] Професійні актори
						p  За роки існування театру створенна професійна труппа акторів, кожен з яких має вищу акторську освіту та є випускником престижного акторського ВУЗу України.
					.why__item
						span #[i.why__item-costume] Оригінальні костюми
						p  Театр має власного професійного костюмера-декоратора, який власноруч виготовляє костюми, декорації та реквізит для виступів. Це означає, що таких костюмів та декорацій ви не побачите у жодному театрі!
					.why__item
						span #[i.why__item-show] Цікаві спектаклі
						p  Художнім керівником театру є Бачинська Надія Миронівна, заслужений діяч культури та мистецтв України. Її багаторічний досвід та професіоналізм дають змогу ставити та показувати дійсно цікаві вистави.
					.why__item
						span #[i.why__item-money] Демократичні ціни
						p Мінімальна вартість квитка на на нашу виставу - 20 грн. Також ми гарантуємо індивідуальний підхід та приємні умови співпраці для кожного клієнта.
					.why__item
						span #[i.why__item-satisfy] Вдячні клієнти
						p Театр "Вояж-Престиж" - це перш за все задоволенний глядач. Ми пишаємося тим, що упродовж 8 років наші послуги отримало більше 2000 клієнтів, як фізичних, так і юридичних осіб.

	include _footer