extends _layout

block title
	title Про нас | Театр "Вояж-Престиж"
block head
	meta(name="keywords" content="театр вояж престиж, київський театр вояж престиж, постановки для дітей та дорослих, вистави для дітей, народний театр")
	meta(name='description', content='Київський театр Вояж-Престиж. Професійні актори, оригінальні декорації, цікаві вистави.')

block content
	include _header


	main.content
		+introLine("Про нас")

		section.block.block_has-aside
			.inner
				.who.block__content
					img(src="img/logo.png" title="Фото")
					h3 Театр "Вояж-Престиж" - це команда професіоналів з багаторічним досвідом роботи.
					p Ось уже більш ніж 8 років приватний виїзний театр-студія „Вояж- Престиж” проводить свої вистави для різних вікових груп населення нашої країни, привносячи тим самим ту частинку культури в маси, яка так необхідна нам у ці не легкі часи. Не будемо перераховувати усіх заслуг нашого театру, їх за довгі роки існування театру дуже багато, це і участь в усіляких конкурсних програмах і активна участь у благодійних акціях в підтримку незахищених верств населення, акції боротьби проти наркоманії та комп’ютерної залежності, підтримка екологічних проектів та багато іншого. Одне те, що у своїх рецензіях ІГПО КМПУ ім. Б.Д. Грінченка описує діяльність нашого театру як освітньо-просвітницьку говорить багато.
					p За 8 років існування театру було пройдено не малий шлях становлення. Ми росли і розвивалися, шукали нові способи втілення у життя наших творчий ідей. Поступово розширювалася і глядацька аудиторія театру. Завдяки великому репертуару ми можемо здивувати навіть найвибагливішого глядача, а наші спектаклі обов`язково зацікавлять як дорослих, так і дітей.
					p Характерною особливістю постановок театру "Вояж-Престиж" є те, що майже всі вони окрім розважальної, несуть в собі ще й культурно-повчальну складову. Тематика наших театральних вистав є досить сучасною:
					ul
						li Комп`ютерна залежність та її профілактика
						li Здоровий спосіб життя
						li Соціальна нерівність
						li Залежність від сучасних мобільних телефонів та гаджетів
						li Пожежна та електробезпека
						li Патріотизм та любов до батьківщини
					p Також у своєму активі ми маємо вистави, що поставлені за мотивами народних казок з усього світу. Окрім всіх вищезазначених тем, ми ставимо класичні драматургічні постановки та надаємо широкий спектр послуг з підтримки різноманітних заходів (дні народження, корпоративи, Новий рік, тощо). Співпрацюючи з театром "Вояж-Престиж" ви можете розраховувати на професіоналізм, якість, пунктуальність та індивідуальний підхід до кожного клієнта!




				.block__aside
					+blockServices
		section.block.block_light
			.inner
				h2 Наші переваги
				.why
					.why__item
						span #[i.why__item-actors] Професійні актори
						p  За роки існування театру створенна професійна труппа акторів, кожен з яких має вищу акторську освіту та є випускником престижного акторського ВУЗу України.
					.why__item
						span #[i.why__item-costume] Оригінальні костюми
						p  Театр має власного професійного костюмера-декоратора, який власноруч виготовляє костюми, декорації та реквізит для виступів. Це означає, що таких костюмів та декорацій ви не побачите у жодному театрі!
					.why__item
						span #[i.why__item-show] Цікаві спектаклі
						p  Художнім керівником театру є Бачинська Надія Миронівна. Її багаторічний досвід та професіоналізм дають змогу ставити та показувати дійсно цікаві вистави.
					.why__item
						span #[i.why__item-money] Демократичні ціни
						p Мінімальна вартість квитка на на нашу виставу - 25 грн. Також ми гарантуємо індивідуальний підхід та приємні умови співпраці для кожного клієнта.
					.why__item
						span #[i.why__item-satisfy] Вдячні клієнти
						p Театр "Вояж-Престиж" - це перш за все задоволенний глядач. Ми пишаємося тим, що упродовж 8 років наші послуги отримало більше 2000 клієнтів, як фізичних, так і юридичних осіб.

	include _footer