extends _layout

block title
	title
block head
	meta(name="keywords" content="Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays.com. ")

block content
	include _header


	main.content
		+introLine("Галерея")

		section.block.block_has-aside
			.inner
				h2 Фото
				p lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
				.block__content.photo
					.photo__overlay
						.photo__slider-wrap
							button.photo__slider-close
							button.photo__slider-left
							button.photo__slider-right
							img.photo__slider-img(src="img/photo/11.JPG")

					img.photo__img(src="img/photo/gallery/gallery (29).jpg")
					img.photo__img(src="img/photo/gallery/gallery (30).jpg")
					img.photo__img(src="img/photo/gallery/gallery (8).jpg")
					img.photo__img(src="img/photo/gallery/gallery (9).jpg")
					img.photo__img(src="img/photo/gallery/gallery (7).jpg")

					img.photo__img(src="img/photo/gallery/gallery (10).jpg")
					img.photo__img(src="img/photo/gallery/gallery (11).jpg")
					img.photo__img(src="img/photo/gallery/gallery (13).jpg")
					img.photo__img(src="img/photo/gallery/gallery (14).jpg")
					img.photo__img(src="img/photo/gallery/gallery (15).jpg")
					img.photo__img(src="img/photo/gallery/gallery (16).jpg")

					img.photo__img(src="img/photo/gallery/gallery (20).jpg")
					img.photo__img(src="img/photo/gallery/gallery (22).jpg")
					img.photo__img(src="img/photo/gallery/gallery (24).jpg")
					img.photo__img(src="img/photo/gallery/gallery (25).jpg")
					img.photo__img(src="img/photo/gallery/gallery (26).jpg")
					img.photo__img(src="img/photo/gallery/gallery (27).jpg")

					img.photo__img(src="img/photo/gallery/gallery (31).JPG")
					img.photo__img(src="img/photo/gallery/gallery.jpg")
					img.photo__img(src="img/photo/gallery/gallery (2).jpg")
					img.photo__img(src="img/photo/gallery/gallery (3).jpg")
					img.photo__img(src="img/photo/gallery/gallery (17).jpg")
					img.photo__img(src="img/photo/gallery/gallery (18).jpg")
					img.photo__img(src="img/photo/gallery/gallery (19).jpg")
					img.photo__img(src="img/photo/gallery/gallery (12).jpg")
					//img.photo__img(src="img/photo/gallery/gallery (21).jpg")
					img.photo__img(src="img/photo/gallery/gallery (23).jpg")
					img.photo__img(src="img/photo/gallery/gallery (28).jpg")
					img.photo__img(src="img/photo/gallery/gallery (4).jpg")
					img.photo__img(src="img/photo/gallery/gallery (5).jpg")
					img.photo__img(src="img/photo/gallery/gallery (6).jpg")
					//img.photo__img(src="img/photo/11.JPG")
					//img.photo__img(src="img/photo/11.JPG")
					//img.photo__img(src="img/photo/11.JPG")
					//img.photo__img(src="img/photo/11.JPG")
					//img.photo__img(src="img/photo/11.JPG")
					//img.photo__img(src="img/photo/11.JPG")
				.block__aside
					+blockServices
		section.block.block_light
			.inner
				h2 Відео
				.video
					iframe(src='https://www.youtube.com/embed/iao-l4USKEU', frameborder='0', allowfullscreen='', style='visibility: visible;')
					iframe(src='https://www.youtube.com/embed/iao-l4USKEU', frameborder='0', allowfullscreen='', style='visibility: visible;')
					iframe(src='https://www.youtube.com/embed/iao-l4USKEU', frameborder='0', allowfullscreen='', style='visibility: visible;')
					iframe(src='https://www.youtube.com/embed/iao-l4USKEU', frameborder='0', allowfullscreen='', style='visibility: visible;')
		include _footer