extends _layout

block title
	title
block head
	meta(name="keywords" content="Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays.com. ")

block content
	include _header


	main.content
		section.links
			.inner
				.links__item
					div.links__curtains
					strong Репертуар
					p vaserbo nerafaes sety eitylitae ertyasnemo lasec vasp.
					a(href="" alt).btn Детальніше

				.links__item
					div.links__masc
					strong Служба привітань
					p vaserbo nerafaes sety eitylitae ertyasnemo lasec vasp.
					a(href="" alt).btn Детальніше

				.links__item
					div.links__paper
					strong Контакти
					p vaserbo nerafaes sety eitylitae ertyasnemo lasec vasp.
					a(href="" alt).btn Детальніше
		section.intro
			.inner
				.intro__img
				.intro__text-wrap
					h3 #[span Вітаємо] <br> у майстерні акторського перевтілення
					strong Київського театру "Вояж-Престиж"
					p Maselementum ursus eleifender. Aenean auctor wisi et urna. Viliquam erat volutpas matsreuisac turpiInter rutrum anteulacus.
					p Quisque nulla.





	include _footer




