extends _layout

block title
	title Головна | Театр "Вояж-Престиж"
block head
	meta(name='keywords', content='театр вояж престиж, київський театр вояж престиж, вояж-престиж, київський театр, вистави для дітей, київ, дитячі вистави, дитячі спектаклі, театральні вистави, новий рік для дітей, театральні постановки, театр, вояж, престиж')
	meta(name='description', content='Київський театр Вояж-Престиж. Театралізовані постановки для всієї родини, святкові Новорічні програми, професійні актори, звукове супроводження, оригінальні декорації.')

block content
	include _header-index


	main.content
		section.block
			.inner
				.links
					.links__item
						div.links__curtains
						strong Репертуар
						p Перелік актуальних вистав на квітень 2017 року.
						a(href="repertory.html" title="Детальніше").btn Детальніше

					.links__item
						div.links__masc
						strong Послуги
						p Перелік послуг, які пропонує наш театр.
						a(href="services.html" title="Детальніше").btn Детальніше

					.links__item
						div.links__paper
						strong Контакти
						p Хочете зв`язатися з нами? Вам сюди.
						a(href="contacts.html" title="Детальніше").btn Детальніше
		section.intro
			.inner
				.intro__img
				.intro__text-wrap
					h3 #[span Вітаємо] <br> у майстерні акторського перевтілення
					strong Київського театру "Вояж-Престиж"
					p Театр – це геніальне творіння людської думки. Важлива специфічна особливість цього мистецтва, яка відрізняє його переважно від усіх інших, полягає у тому, що глядач сам особисто має змогу стати свідком процесу художньої творчості. На його очах створюється художній образ, який переповнюється радістю, сумом, здивуванням, азартом, турботою, сміхом...словом усіма емоціями та почуттями, які властиві людині. І це енергія, жива енергія, яка передається від актора до глядача. А в сумі це можна без перебільшення назвати магією. Магією театрального мистецтва.
					p Запрошуємо вас поринути у цей дивовижний світ разом із театром "Вояж-Престиж"!





	include _footer




