extends _layout

block title
	title
block head
	meta(name="keywords" content="Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays.com. ")

block content
	include _header


	main.content
		+introLine("Репертуар на березень 2017")

		section.block.block_has-aside
			.inner
				.rep
					aside.block__aside.rep__aside
						h2.rep__list-title Для молодших вікових груп #[span.is-active]
						ul.is-visible
							li(data-id="adv").is-active Новорічні пригоди
							li(data-id="lyana") Як у Ляни на галявині
							li(data-id="koska") Навчання Коськи
							li(data-id="metel") Метелиця
							li(data-id="winterAdv") Зимові пригоди
							li(data-id="chichita") Пригоди мавпи (Чічіта)
							li(data-id="flower") Квітка бажань
							li(data-id="ivan") Як Іван за розумом ходив
							li(data-id="iceQueen") Зимова королева
						h2.rep__list-title Для старших вікових груп #[span]
						ul
							li(data-id="reload") Перезагрузка
							li(data-id="home") Це наш дім
							li(data-id="mykyta") Микита Гайдай
							li(data-id="science") Життєва наука
							li(data-id="exam") Віртуальний екзамен
							li(data-id="task") Рівняння з трьома невідомими
						h2.rep__list-title Архів вистав #[span]
						ul
							li(data-id="lake") Зачароване озеро
							li(data-id="trap") Пастка для неслухняних
							li(data-id="child") Золота дитина
							li(data-id="fix") Пригоди Фіксиків
							li(data-id="nehochuha") Принцеса Нехочуха
							li(data-id="esper") Пригоди привида Еспера
							li(data-id="ivanko") Іванко
							li(data-id="princess") Примхлива принцеса
							li(data-id="sheep") Золота вівця
							li(data-id="drum") Чарівний барабан
							li(data-id="wood") Принцеса та лісоруб
							li(data-id="words") Чарівні слова
							li(data-id="treasury") Скарбниця знань
							li(data-id="ulyanka") Улянка
							li(data-id="mishka") Мішкини пригоди
							li(data-id="advices") Корисні поради
							li(data-id="fairytale") Справжня казка
							li(data-id="hero") Я герой...
							li(data-id="capitalist") Капіталіст
							li(data-id="maze") Лабіринти долі
							li(data-id="dreamers") Справжні мрійники





					.block__content.rep__content
						article.is-visible#adv
							h4 Новорічні пригоди
							div
								img(src="img/photo/rep/advantures.JPG")
								p Авторська постановка, яка має на меті звернути увагу дітлахів на питання необхідності добре вчитися. Окремо висвітлюється тема самонавчання, як необхідної складової для досягнення успіху. Режисер - Бачинська Н.М.

						article#lyana
							h4 Як у Ляни на галявині
							div
								//
								p Повчально-ігрова постановка для дітей віком до 13 років. Завдяки своїй універсальності може використовуватися як повчальний спектакль-гра з будь-якою тематикою, цікавою як малятам так і дітям більш старшого віку.

						article#koska
							h4 Навчання Коськи
							div
								img(src="img/photo/rep/koska.JPG")
								p Авторська постановка на одну дію для дітей віком від 4 до 12 років, мова українська або російська, тривалість 40-45 хвилин, режисер постановки – Бачинська Н.М. В ході постановки розкриваються такі питання повсякденної життєдіяльності як правила дорожнього руху та пожежна безпека.

						article#metel
							h4 Метелиця
							div
								img(src="img/photo/rep/met.jpg")
								p Постановка на одну дію по мотивам казки "Морозко". Режисер - Бачинська Н.М.

						article#winterAdv
							h4 Зимові пригоди
							div
								img(src="img/photo/rep/winteradv.jpg")
								p Веселі та цікаві пригоди казкових персонажів у зимових умовах. Режисер - Бачинська Н. М.

						article#chichita
							h4 Пригоди мавпи (Чічіта)
							div

								p Авторська постановка на одну дію для дітей віком від 4 до 12 років, мова українська або російська, тривалість 40-45 хвилин, режисер постановки – Бачинська Н.М. В ході постановки розкриваються такі питання повсякденної життєдіяльності як правила дорожнього руху та пожежна безпека.

						article#flower
							h4 Квітка бажань
							div

								p Авторська постановка на одну дію, що направленна на виховання у дітей почуття гуманності, доброти та співчуття до оточуючих. У ході вистави розкривається суть народної приказки "Не все те золото, що блищить". За мотивами відомої казки "Цветик-семицветик".

						article#ivan
							h4 Як Іван за розумом ходив
							div

								p Авторська постановка, яка має на меті звернути увагу дітлахів на питання необхідності добре вчитися. Окремо висвітлюється тема самонавчання, як необхідної складової для досягнення успіху. Режисер - Бачинська Н.М.

						article#iceQueen
							h4 Зимова королева
							div

								p Авторська постанова за мотивами популярної казки. Режисер - Бачинська Н.М.

						article#reload
							h4 Перезагрузка
							div

								p Постановка на два акти по мотивам однойменного твору Д. Лойджа. Тривалість 60-80 хв., вік від 14 років, режисер постановки – Бачинська Н.М. В ході постановки розкриваються питання, що стосуються теми комп’ютерної залежності серед молоді, в простій, доступній формі показані способи протидії негативним наслідкам цього роду залежності.

						article#home
							h4 Це наш дім
							div

								p Cоціальна постановка по мотивам однойменного твору К. Корсика . Тривалість 70хв., вік від 14 років, режисер постановки - Бачинська Н. М.Постанова, яка розкриває проблему правопорушень серед сучасної молоді, а також показує працю правозахисників з іншого, що відрізняється від повсякденних стереотипів, боку.
						article#mykyta
							h4 Микита Гайдай
							div

								p Постанова по уривку однойменного твору Т. Г. Шевченка. Найбільш актуальна тема любові до своєї батьківщини і відданості своєму народу. Тривалість 1 год., вік від 14 років. Режисери постановки В. Тарарака, Н. Бачинська.
						article#science
							h4 Життєва наука
							div

								p Авторська постанова на одну дію в рамках якої освітлюється тема важливості ведення здорового образу життя та необхідності піклування про своє здоров`я.
						article#exam
							h4 Віртуальний екзамен
							div

								p Авторська постановка на тему ілюзорності нашого світосприйняття, яка ще раз доказує просту істину - у нас є плани на життя, у життя є плани на нас.
						article#task
							h4 Рівняння з трьома невідомими
							div

								p Молодіжна трагікомедія яка показує історію трьох молодих людей, що представляють різні соціальні групи. Знайомство, пошук спільного, компроміс, спроба вирішити проблеми...Як можна подолати прірву соціальної нерівності та чи це можливо взагалі? У ході постановки спробуємо дати відповідь на це актуальне питання. Режисер - Олена Балагура.
						article#lake
							h4 Зачароване озеро
							div
								img(src="img/photo/rep/lake.JPG")
								p Постанова на одну дію для дітей віком від 4 до 10 років, мова українська або російська, тривалість 40-45 хвилин, режисер постановки – Бачинська Н. М. Дана постановка в доступній формі розкриває питання захисту навколишнього середовища, дружби та взаємовиручки.
						article#trap
							h4 Пастка для неслухняних
							div
								img(src="img/photo/rep/trap.jpg")

								p Авторська постановка на одну дію для дітей віком від 3.5 до 10 років, мова українська або російська, тривалість 40-45 хвилин, режисер постановки – Бачинська Н. М. В постановці розкривається тема повсякденної поведінки дитини, в доступній формі дітям пояснюється необхідність слухати старших.
						article#child
							h4 Золота дитина
							div
								img(src="img/photo/rep/child.JPG")
								p Постановка по мотивах п’єси В. Орлова «Золоте курча» на одну дію. Для дітей віком від 3.5 до 10 років, мова українська або російська, тривалість 40-45 хвилин, режисер постановки – Бачинська Н.М. Одна із самих популярних та актуальних п’єс дитячих театрів, що розкриває відносини між дітьми та дорослими.
						article#fix
							h4 Пригоди Фіксиків
							div
								img(src="img/photo/rep/fixic.JPG")
								p Ігрова розважально-повчальна постановка.
						article#nehochuha
							h4 Принцеса Нехочуха
							div
								img(src="img/photo/rep/dontwant.JPG")
								p Постановка на одну дію по мотивам чеської казки "Дуже сумна принцеса".
						article#esper
							h4 Пригоди привида Еспера
							div

								p Постанова на одну дію для дітей віком від 3.5 років, мова українська або російська, тривалість 40-45 хв. В постанові розкриваються питання дружби та взаємовиручки, може включати в себе різну тематику.
						article#ivanko
							h4 Іванко
							div

								p Постанова на одну дію для дітей віком від 3.5 років, мова українська, тривалість 40-45 хв. За мотивами одноіменної казки.
						article#princess
							h4 Примхлива принцеса
							div

								p постанова на одну дію для дітей віком від 4-х років, мова українська або російська, тривалість 40-45 хв., реж. Бачинська Н.М., за мотивами однойменної чеської казки.
						article#sheep
							h4 Золота вівця
							div
								img(src="img/photo/rep/sheep.jpg")
								p Постанова на одну дію для дітей віком від 4-х років, мова українська або російська, тривалість 40-45 хв., реж. Бачинська Н.М., за мотивами однойменної чеської казки.
						article#drum
							h4 Чарівний барабан
							div
								img(src="img/photo/rep/drum.JPG")
								p Постанова на одну дію для дітей віком від 4-х років, мова українська або російська, тривалість 40-45 хв., реж. Бачинська Н.М., за мотивами народної казки "Каша з сокири".
						article#wood
							h4 Принцеса та лісоруб
							div
								img(src="img/photo/rep/princess.JPG")
								p Весела постановка на одну дію по мотивам народної казки, для різних вікових груп, мова українська або російська, тривалість 40-50 хвилин, режисер постановки - Бачинська Н.М.
						article#words
							h4 Чарівні слова
							div
								img(src="img/photo/rep/words.JPG")
								p Авторська тематична постановка на одну дію для дітей віком від 3.5 до 12 років, мова українська або російська, тривалість 40 хвилин. Режисер - Бачинська Н.М. Дітям у доступній формі пояснюється що таке ввічливість.
						article#treasury
							h4 Скарбниця знань
							div

								p Авторська тематична постановка на одну дію для дітей віком від 3.5 до 12 років, мова українська або російська, тривалість 45 хвилин. Скарби які завжди з вами.
						article#ulyanka
							h4 Улянка
							div
								img(src="img/photo/rep/ulianka.JPG")
								p Авторська постановка на одну дiю по мотивах народних казок, для дiтей вiком до 12 рокiв, мова українська або росiйська, тривалiсть 45 хвилин. Казковi пригоди, як в навчанні підмога.
						article#mishka
							h4 Мішкіни пригоди
							div
								p Весела авторська постановка, на одну дію для дітей віком від 4 до 12 років, мова українська або російська, тривалість 40хв. Режисер - Бачинська Н.М. Казкові пригоди Міхаїла , та його ведмедиків.
						article#advices
							h4 Корисні поради
							div
								p Авторська постановка на одну дію для дітей віком від 4 до 11 років, мова українська або російська, тривалість 40 хв., реж. Бачинська Н.М. В ході постановки розкриваються питання повсякденної життєдіяльності.
						article#fairytale
							h4 Справжня казка
							div
								img(src="img/photo/rep/fairytale.JPG")
								p Постанова на одну дію для дітей віком від 3.5 до 10 років, мова українська або російська, тривалість 40-45хв. Постановка в доступній формі розкриває питання обережного відношення до особистих речей .
						article#hero
							h4 Я герой...
							div
								p Соціальна драма , спроба перенести переживання сучасної молоді з приводу своєї неспроможності на театральні підмостки. Однак не все так однозначно і сучасна молодь - це покоління свого часу. По мотивам твору К.Корсика "Всі мої Я"
						article#capitalist
							h4 Капіталіст
							div
								p Соціально-сатирична комедія на два акти по мотивам твору І. Карпенко-Карого “Хазяїн”. Тривалість 60-80 хв., вік від 14 років, режисер постановки – Бачинська Н.М. Скупість доведена до абсурду, відсутність культури і нікчемне честолюбство – все це робить будь-яку людину огидною і смішною.
						article#maze
							h4 Лабіринт долі
							div
								p Постановка на одну дiю по мотивам твору С. Мальчика. Режисер постановки - С. Мальчик. Сучасна постановка про взаємовідносини дiтей i батькiв - стара тема актуальна завжди.
						article#dreamers
							h4 Справжні мрійники
							div
								p Постановка на два акти по мотивам однойменного твору Н. М. Бачинської. Тривалість 60-80 хв., вік від 14 років, режисер постановки – Бачинська Н. М. Усі ми колись мріяли, мріємо і мріятимемо і як добре коли наші мрії збуваються, але ще краще коли вони збуваються саме так, як ми цього бажали.







		include _footer