extends _layout

block title
	title Послуги | Театр "Вояж-Престиж"
block head
	meta(name="keywords" content="Театр Вояж-Престиж, аніматори для дітей, вистави, тамада, ведучі, вистави для дітей")
	meta(name='description', content='Перелік послуг театру')

block content
	include _header


	main.content
		+introLine("Послуги")

		section.block.block_has-aside
			.inner
				.block__content.services
					p Перелік послуг, що пропонує театр "Вояж-Престиж" широкий. Окрім нижчезазначених послуг ми будемо раді вислухати вашу пропозицію по співробітництву. Просто зателефонуйте або звяжіться з нами через #[a(href="contacts.html#form") контактну форму.]
					.services__item
						//img(src="http://placehold.it/400x200" title="Фото")
						h3 Театралізовані постановки для дітей та дорослих
						p На данний момент у нашому репертуарі налічується близько 50 вистав для різниих вікових груп. І всі вони несуть в собі окрім розважальної, ще й навчально-культурну складову (теми патріотизму, поваги до батьків, необхідності ведення здорового способу життя, профілактики комп`ютерної залежності, та ін).
					.services__item
						//img(src="http://placehold.it/400x200" title="Фото")
						h3 Професійна театралізована підтримка будь-яких темтичних заходів
						p У вас іменини, корпоратив або інше свято? Театр "Вояж-Престиж" пропонує послуги аніматорів, тамади, розважальних ведучих, масовки. Разом з вами ми розробимо індивідуальну программу та сценарій для того, щоб зробити це свято веселим і незабутнім.

					.services__item
						//img(src="http://placehold.it/400x200" title="Фото")
						h3 Професіне звукове супроводження
						//p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						//img(src="http://placehold.it/400x200" title="Фото")
						h3 Виготовлення костюмів та декорацій
						p Наш театр має власного костюмера-декоратора, який виготовляє костюми, реквізит та декорації. Тож якщо ви маєте ескіз костюма або ідею, яку хочете втілити у життя - телефонуйте!
					.services__item
						//img(src="http://placehold.it/400x200" title="Фото")
						h3 Майстерня експериментальної режисури
						//p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						//img(src="http://placehold.it/400x200" title="Фото")
						h3 Народний театр
						//p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays


				.block__aside.actual
					h3 Актуальні вистави
					b Для молодших вікових груп
					ul
						li Новорічні пригоди
						li Як у Ляни на галявині
						li Навчання Коськи
						li Метелиця
						li Зимові пригоди
						li Пригоди мавпи (Чічіта)
						li Квітка бажань
						li Як Іван за розумом ходив
						li Зимова королева
					b Для старших вікових груп

					ul
						li Перезагрузка
						li Це наш дім
						li Микита Гайдай
						li Життєва наука
						li Віртуальний екзамен
						li Рівняння з трьома невідомими
					a(href="repertory.html" title="Детальніше").btn Детальніше

		section.block.block_light
			.inner
				h3 Служба театралізованих привітань
				.congrats
					iframe(src='https://www.youtube.com/embed/MAwGnJBs0Yo', frameborder='0', allowfullscreen='', style='visibility: visible;')
					//h3 Хочете оригінально привітати друга з Днем народження?
					h3 Театр "Вояж-Престиж" допоможе вам подарувати одні з найцінніших та найприємнішних подарунків у світі - увагу та позитивні емоції.
					//p Вашому імениннику подобається самобутність циганської культури? Чи може він великий прихильник творчості Алли Пугачової? Не питання! До вас на святкування можуть завітати веселі роми, або Алла Борисівна особисто (або, або, або...), привітати іменниника з його святом, заспівати оркім класичного "Happy birthday to you" ще й "Миллионы алых роз", потанцювати, пожартувати, зімпровізувати, а потім залишитися у пам`яті ще надовго. Таке приємне привітання дійсно важко забути.
					p На сьогоднішній день театр "Вояж-Престиж" - це один з небагатьох творчих колективів в якому існує та ефективно працює служба театралізованих привітань. Фактично будь який захід, чи то День народження, ювілейна дата, копроратив або просто весела зустріч друзів перетвориться на феєричне святкове театралізоване дійство завдяки службі театралізованих привітань театру "Вояж-Престиж" та надовго запам`ятається Вам та Вашим друзям.
					p: strong Як це працює:
					p 1) Ви зв`язуєтесь з нами, говорите дату, місце і побажання по святковому сценарію. <br> 2) Ми розроблюємо сценарій і погоджуємо його з вами. <br> 3) В потрібному місці у потрібний час з`являються наші актори, відіграють сценарій, приправлений елементами імпровізації. <br> 4) Ви пишаєтесь собою, що подарували близькій людині справжнє свято.


		include _footer