extends _layout

block title
	title
block head
	meta(name="keywords" content="Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays.com. ")

block content
	include _header


	main.content
		+introLine("Послуги")

		section.block.block_has-aside
			.inner
				.block__content.services
					p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						img(src="http://placecage.com/400/200")
						h3	Театралізовані постановки для дітей та дорослих (антрепризи для всієї родини);
						p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						img(src="http://placecage.com/400/200")
						h3 Професійна театралізована підтримка будь-яких тематичних заходів;
						p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays

					.services__item
						img(src="http://placecage.com/400/200")
						h3 Професіне звукове супроводження;
						p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						img(src="http://placecage.com/400/200")
						h3 Виготовлення костюмів та декорацій для виїзних театрів;
						p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						img(src="http://placecage.com/400/200")
						h3 Майстерня експериментальної режисури;
						p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					.services__item
						img(src="http://placecage.com/400/200")
						h3 Народний театр.
						p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays


				.block__aside.actual
					h3 Актуальні вистави
					b Для молодших вікових груп
					ul
						li Новорічні пригоди
						li Як у Ляни на галявині
						li Навчання Коськи
						li Метелиця
						li Зимові пригоди
						li Пригоди мавпи (Чічіта)
						li Квітка бажань
						li Як Іван за розумом ходив
						li Зимова королева
					b Для старших вікових груп

					ul
						li Перезагрузка
						li Це наш дім
						li Микита Гайдай
						li Життєва наука
						li Віртуальний екзамен
						li Рівняння з трьома невідомими
					a(href="" alt).btn Детальніше

		section.block.block_light
			.inner
				h3 Служба театралізованих привітань
				.congrats
					iframe(src='https://www.youtube.com/embed/MAwGnJBs0Yo', frameborder='0', allowfullscreen='', style='visibility: visible;')
					h3 Хочете оригінально привітати друга з Днем народження?
					p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays
					p Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays Get an easy access to essay writing service cheap to order qualitative papers on Purplepandaessays

		include _footer